header {
    margin: 10px;
    background-color: darkslategray;
    height: 150px;
    width: 100%;
}
footer {
    margin: 10px;
    background-color: darkslategray ;
    height: 150px;
    width: 100%;
}
img.logo{
    width: 125px;
}
#iconYtb {
    width: 50px;
}
#iconFb {
    width: 50px;
}
#iconIg {
    width: 50px;
}
#iconTw {
    width: 50px;
}
#iconAdr {
    width: 50px;
}
footer div.gauche{
    float: left;
    margin:2.5%;
}
footer div.droite{
    float: right;
    margin:2.5%;
}
footer div.milieu{
    float: center;
    margin:2.5%;
}
.headernav {
    overflow: hidden;
    text-align: center;
}
.headernav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.headernav a.active {
    background-color:lightgrey;
    color: white;
}