header {
    margin: 10px;
    background-color: darkslategray;
    height: 150px;
    width: 100%;
}
footer {
    margin: 10px;
    background-color: darkslategray ;
    height: 150px;
    width: 100%;
}
header img.logo{
    width: 100px;
}
#iconYtb {
    width: 50px;
}
#iconFb {
    width: 50px;
}
#iconIg {
    width: 50px;
}
#iconTw {
    width: 50px;
}
#iconAdr {
    width: 50px;
}
footer div.gauche{
    float: left;
    margin:2.5%;
}
footer div.droite{
    float: right;
    margin:2.5%;
}