header {
    margin: 10px;
    background-color: darkslategray;
    height: 150px;
    width: 100%;
    text-align: center;
}
.headernav {
    overflow: hidden;
}
.headernav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.headernav a.active {
    background-color:lightgrey;
    color: white;
}
header img.logo{
    width: 125px;
}

footer {
    margin: 10px;
    background-color: darkslategray ;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#iconYtb {
    width: 50px;
}
#iconFb {
    width: 50px;
}
#iconIg {
    width: 50px;
}
#iconTw {
    width: 50px;
}
#iconAdr {
    width: 50px;
}
footer div a{
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}
footer div.milieu{
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}
footer div.milieu .logo{
    width: 125px;
}
footer div.gauche{
    margin-left: 2.5%;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer div.droite{
    margin-right: 2.5%;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer div a.texte{
    margin-top: 10px;
    margin-bottom: 10px;
}